.hero-wrapper {
    background: var(--gradient-mobile-nav);
    color: var(--clr-text-white);
    border-bottom-left-radius: 5rem;
}

.button-toggle {
    background-color: inherit;
    border: 0;
    opacity: .7;

    margin-left: auto;
}

.button-sign_up {
    background: var(--gradient-mobile-nav);
    color: var(--clr-text-white);
    width: fit-content;
    margin-inline: auto;
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding-top: 3.6875rem;
    padding-bottom: 2.3125rem;

    position: relative;
}

.links-nav {
    display: flex;
    gap: 1.5rem;
    position: relative;
}

.links-nav-submenu {
    display: grid;
    gap: 1rem;
    font-size: .9375rem;
    font-family: var(--ff-accent);
    font-weight: var(--fw-medium-accent);
    margin-top: 1.5rem;
}

.login-buttons {
    display: flex;
    gap: 1.5rem;
}

.menu-hidden {
    display: none;
}

.hero {
    text-align: center;
    padding: 6.75rem 0 9.75rem;   
}

.flex-group {
    display: flex;
    align-items: center;
}

.start-buttons {
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

/* mobile */
@media (max-width:799px) {
    .navigation-bar {
        position: absolute;
        top: 100%;

        text-align: center;
        background-color: var(--clr-text-white);
        color: var(--clr-footer-bg);
        width: 100%;

        padding: 1.5rem;
    }

    .links-nav,
    .login-buttons {
        flex-direction: column;
    }

    .links-nav {
        padding-bottom: 1.5rem;
    }

    .links-nav-submenu {
        background-color: var(--clr-link-nav-bg);
        color: var(--clr-body-copy);
        padding: 1.0623rem 6rem 1.5rem;
        border-radius: .5rem;
    }

    .login-buttons {
        padding-top: 1.5rem;
        border-top: 1px solid var(--clr-footer-text);
    }

}

/* desktop */
@media (min-width:800px) {
    .menu-hidden {
        display: block;
    }

    .button-toggle {
        display: none;
    }

    .button-sign_up {
        background: var(--clr-text-white);
        color: var(--clr-bg-hover);
    }

    .header {
        justify-content: flex-start;
        gap: 4rem;
    }

    .login-buttons {
       margin-left: auto;
       gap: 2rem;
    }

    .navigation-bar {
        display: flex;
        align-items: center;
    }

    .links {
        position: relative;
    }

    .links::after {
        content: '';
        position: absolute;
        height: 2px;
        background-color: var(--clr-text-white);
        width: 0;
        bottom: 0;
        left: 0;
    }

    .links:hover {
        font-weight: var(--fw-bold-main);
    }

    .links:hover::after {
        width: 100%;
    }

    .links-nav {
        gap: 2rem;
    }

    .links-nav-submenu {
        position: absolute;
        right: 0;
        transform: translate(50%, 10%);
        background-color: var(--clr-text-white);
        color: var(--clr-body-copy);
        padding: 1.25rem 3rem 1.25rem 1.25rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: .5rem;
    }

    .link-submenu:hover {
        color: var( --clr-footer-bg);
        font-weight: var(--fw-bold-accent);
    }

    .links {
        position: relative;
    }

    /* .links::before {
        content: "";
        position: absolute;
        background: url('./public/images/icon-arrow-light.svg');
        width: 10px;
        height: 7px;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        transform: translate(10rem, -200%);
    }

    .links-rotate::before {
        transform: rotate(180deg);
    } */
}
