@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --clr-text-white: hsl(0, 0%, 100%);
    --clr-footer-text: hsl(240, 2%, 79%);
    --clr-link-nav-bg: hsl(240, 2%, 93%);
    --clr-body-copy: hsl(207, 13%, 34%);
    --clr-footer-bg: hsl(240, 10%, 16%);

    --clr-red: hsl(356, 100%, 66%);
    --clr-bg-hover: hsl(355, 100%, 74%);
    --clr-headings: hsl(208, 49%, 24%);

    --gradient-mobile-nav: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    --gradient-body-bg: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));

    --ff-main: 'Overpass', sans-serif;
    --ff-accent: 'Ubuntu', sans-serif;

    --fw-light-main: 300;
    --fw-bold-main: 600;
    --fw-regular-accent: 400;
    --fw-medium-accent: 500;
    --fw-bold-accent: 700;

    --fz-main: 1rem;
}


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-light-main);
    font-size: var(--fz-main);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

.container {
    width: 85%;
    max-width: 1110px;
    margin-inline: auto;
}

.button {
    border: 0;
    padding: .9375rem 1.0625rem;
    border-radius: 2em;
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold-accent);
}

.button:hover,
.button-toggle:hover {
    cursor: pointer;
}


.button-primary {
    background-color: var(--clr-text-white);
    color: var(--clr-bg-hover);
}

.button-primary:hover {
    color: inherit;
    background-color: var(--clr-bg-hover);
}

.button-bare {
    background-color: inherit;
    color: inherit;
    opacity: .6;
    border: 0;
}

.button-bare:hover {
    opacity: 1;
    cursor: pointer;
}

.button-outline {
    background-color: inherit;
    color: inherit;
    border: 1px solid var(--clr-text-white);
}

.button-outline:hover {
    color: var(--clr-bg-hover);
    background-color: var(--clr-text-white);
}

@media (min-width:800px) {
    h1 {
        font-size: 4rem;
        font-weight: var(--fw-bold-main);
    }

    .sub-header {
        font-size: 1.25rem;
        font-weight: var(--fw-light-main);
        opacity: .7;
    }

    .button {
        padding: .9375rem 1.0625rem;;
    }

}

